* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 70px;
  background-color: #fff;
  font-family: monospace;
}

/* HEADER AND LOGO */
.header {
  background-color: #fff;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px;
}

.header .logoTextContainer {
  padding-left: 1.3rem;
  font-style: italic;
  font-size: 1.2rem;
}
.logoTextContainer .red {
  font-size: 2rem;
  color: #f00;
}

/* LINKS */
.navBar .linkContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.linkContainer li {
  display: inline-block;
  padding: 0 0.9rem;
  list-style-type: none;
  transition: 0.6s all ease;
  width: 60%;
}

.linkContainer a {
  font-size: 0.9rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
}
.linkContainer a:hover {
  color: #f00;
}
.linkContainer a:active {
  border-bottom: 2px solid #f00;
}

.icons {
  font-size: 1.1rem;
  margin-right: 20px;
  /* width: 20% */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons i {
  display: inline-block;
  padding: 0 0.5rem;
}
.icons i:hover {
  color: #f00;
}
.icons .fa-bars {
  display: none;
}

.productContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: whitesmoke;
}
.productTextContainer {
  display: block;
  padding-left: 3rem;
  padding-bottom: 8%;
  width: 650px;
  height: auto;
  font-size: 1rem;
}
.productTextContainer h1 {
  font-size: 4.5rem;
  font-family: serif;
  text-transform: capitalize;
  padding-bottom: 2rem;
}
.productTextContainer p {
  line-height: 1.7rem;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 2.1rem;
}
.displayImg {
  margin: 0, auto;
}
.displayImg img {
  display: block;
  max-width: 100%;
  height: auto;
}
section .shop {
  padding: 15px 10%;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: dimgrey;
  color: #fff;
  border: 0;
}
section .shop:hover {
  background-color: #f00;
}

/*  NEW ARRIVAL */
.newArrivalCont {
  padding: 4rem 1.5rem;
}
.newArrival {
  padding-bottom: 2.5rem;
  padding-left: 1.5rem;
  font-size: 2rem;
  font-family: serif;
  text-align: center;
  text-transform: capitalize;
}
section .newArrivalImg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 18px;
  margin: 0 auto;
}
.newArrivalImg div img {
  display: block;
  max-width: 100%;
  height: auto;
}
.newArrivalImg h4 {
  padding: 1.2rem;
}
.newArrivalImg p {
  color: #f00;
  font-size: 1rem;
}

/* to style on small screen , the p text is  taking full width */

.popularContainer {
  margin: 0 auto;
}
.popularTextCont {
  text-align: center;
  padding: 2.5rem;
}
.popularTextCont h1 {
  font-size: 2.7rem;
  font-family: serif;
  padding-bottom: 1.2rem;
}
.popularTextCont p {
  font-size: 0.9rem;
}
section .popularImgContainer {
  /* margin: 0 3rem; */
  display: flex;
  background-color: transparent;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.popularImgContainer div {
  padding: 1.7rem 0.3rem;
  font-size: 1rem;
}
.popularImgContainer div > img {
  display: block;
  max-width: 100%;
  height: auto;
  border-bottom: 3px solid red;
}
.moreProd {
  text-align: center;
  padding: 4rem;
}
.moreProd a {
  text-decoration: none;
  color: #fff;
  background: #f00;
  padding: 1rem 1.3rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 0.8rem;
}
section #video {
  margin: 0.8rem;
}
#video video {
  max-width: 100%;
  height: auto;
}

.choiceContainer .flex1,
.flex2 {
  display: flex;
}
.choiceContainer .flex2 {
  flex-direction: row-reverse;
}
/* screen with 760px and smaller */
@media all and (max-width: 760px) {
  .navBar {
    display: none;
  }
  .icons i {
    font-weight: light;
    gap: 20px;
  }
  .icons .fa-bars {
    display: block;
  }

  .displayImg img {
    max-height: 900px;
  }

  section .newArrivalImg {
    flex-direction: column;
  }
}

@media all and (max-width: 370px) {
  .icons {
    margin-right: 5px;
  }
  .icons i {
    padding: 0 0.4rem;
  }
}
